extends ../components/layout



block content
    div
        h1 This is an Auth0 authenticated solution.
        
    p rulescript:
    if rulescript
        pre(class="col-12 text-light bg-dark p-4") #{JSON.stringify(rulescript, null, 2)}
        
